@model CarRentalSystem.ViewModel.CarClintViewModel

<script src='@Url.Content("~/Scripts/jquery-1.10.2.js")'></script>
<script>
    $(document).ready(function () {
        $("#Rentform").on("submit", function () {
            alert("i will send");
            var viewmodel = $(this).serialize();
            $.ajax({
                url: '@Url.Action("Reservation", "Clint")',
                type: "POST",
                data: viewmodel,
                cache: false,
                async: true,
                success: function (rt, st, xhr) {
                    if (st == "error") {
                        alert("Error :" + xhr.status + " " + xhr.statusText);
                    }
                    else {
                        
                        if (rt.state == false) {
                            if (rt.viewmodel.fromstate == 1 && rt.viewmodel.tostate == 1)
                            {
                                alert("i will send");
                                $("#errormessageFrom,#errormessageTo").css({ "color": "red","display":"block" });
                                $("#car_From,#car_To").attr({ "id": "input-validation-error" });
                                $("#errormessageFrom,#errormessageTo").html(rt.viewmodel.messageerror);

                            } else if (rt.viewmodel.formstate == 1) {
                                alert("i will send");
                                $("#errormessageFrom").css({ "color": "red", "display": "block" });
                                $("#car_From").attr({ "id": "input-validation-error" });
                                $("#errormessageFrom").html(rt.viewmodel.messageerror);
                            } else if (rt.viewmodel.tostate == 1) {
                                alert("i will send");
                                $("#errormessageTo").css({ "color": "red", "display": "block" });
                                $("#car_To").attr({ "id": "input-validation-error" });
                                $("#errormessageTo").html(rt.viewmodel.messageerror);
                            }

                        } else
                        {
                            alert("i will send");
                            $("#partil").slideUp(1000);
                            $("#result").html(rt.message);
                        }
                    }
                }

              });

            return false;
            
        });

    });
</script>
<div class="form-inline">
    @using (Html.BeginForm("Reservation", "Clint", FormMethod.Post, new { id = "Rentform" }))
    {
       <div class="form-group">
                @Html.LabelFor(c => c.car.From)
                <input type="datetime-local" name="car.From" id="car_From" placeholder="Enter the start time" class="form-control">
           <span class="field-validation-error" id="errormessageFrom" style="display:none"> @Model.messageerror </span>
       </div>
       <div class="form-group">
                @Html.LabelFor(c => c.car.To)
                <input type="datetime-local" name="car.To" id="car_To" placeholder="Enter the end time" class="form-control">
                <span class="field-validation-error" id="errormessageTo" style="display:none"> @Model.messageerror </span>
        </div>
        
        @Html.HiddenFor(c => c.car.id)
        @Html.HiddenFor(c => c.clint.id)

        <div class="form-group">
            <input type="Submit" class="btn btn-danger" value="Rent">
        </div>
    }
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="paypalform">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value=" tito68932-facilitator@gmail.com">
        <input type="hidden" name="item_name_1" value="Aggregated items">
        <input type="hidden" name="amount_1" value="3.00">
        <input type="submit" value="PayPal">
    </form>

</div>

